#app {
  min-height: 100%;
  height: 100%;
}

i {
  cursor: default;
}
main h2 {
  font-size: 2.2em;
}
main p {
  font-size: 1.3em;
  margin-bottom: 0;
}
main .x-icon {
  cursor: pointer;
}

@media screen and (max-width: 1425px) {
  main h2 {
    font-size: 2.1em;
  }
  main p {
    font-size: 1.15em;
  }
}
@media screen and (max-width: 1010px) {
  main h2 {
    font-size: 2em;
  }
  main p {
    font-size: 1.05em;
  }
}
@media screen and (max-width: 652px) {
  main h2 {
    font-size: 1.9em;
  }
  main p {
    font-size: 1em;
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 3;
}
main {
  flex: 1 0 auto;
  padding-top: 95px;
}

@media screen and (max-width: 767px) {
  main {
    padding-top: 120px;
  }
}
@media screen and (max-width: 455px) {
  main {
    padding-top: 110px;
  }
}
@media screen and (max-width: 365px) {
  #nav-mobile li {
    margin: 0;
    display: block;
  }
  header {
    position: relative;
  }
  main {
    padding-top: 0;
  }
  main h2 {
    margin-top: 30px;
  }
}
