#app {
  height: 100%;
}

main {
  flex: 1 0 auto;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 3;
}
main {
  padding-top: 95px;
}

@media screen and (max-width: 767px) {
  main {
    padding-top: 120px;
  }
}
@media screen and (max-width: 455px) {
  main {
    padding-top: 110px;
  }
}
@media screen and (max-width: 375px) {
  header {
    position: relative;
  }
  main {
    padding-top: 0;
  }
  main h2 {
    margin-top: 30px;
  }
}
