#footer .page-footer {
  width: 100%;
  padding: 0;
}
#footer .footer-copyright {
  padding: 0;
}
#footer .container {
  padding: 20px 0;
}
#footer .row {
  margin: 0;
  height: 100%;
}
#footer .col-content {
  margin: 0 auto;
}
#footer h5 {
  margin: 10px 0 5px 0;
  font-size: 1.1em;
  font-weight: bold;
}
#footer ul {
  margin: 3px 0px;
}
#footer li {
  padding: 2.125px 0;
}
#footer img {
  width: 22px;
  vertical-align: middle;
}
#footer .social-media {
  vertical-align: middle;
  font-size: 1em;
  margin-left: 5px;
}
#footer #bmc-img {
  width: 24px;
  height: 28px;
  margin-bottom: 5px;
}
#footer #bmc-text {
  font-size: 22px;
  font-family: "Cookie", cursive;
  letter-spacing: 0.8px;
  text-transform: none;
  margin: 3px;
  line-height: 18px;
}
#footer button {
  height: 44px;
  white-space: nowrap;
  margin: 8px 0;
  vertical-align: auto;
  background-color: #0064c2;
}
#footer #bmc :hover {
  background-color: #52d1dc;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -ms-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}
#footer .left-section {
  float: right;
}

@media screen and (max-width: 1010px) {
  #footer .left-section {
    float: none;
  }
}
@media screen and (max-width: 250px) {
  #footer #bmc-img {
    display: none;
  }
}
