.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form textarea {
  padding: 7px 6px;
  width: 350px;
  height: 150px;
  font-size: 1.2em;
}
.form button {
  margin: 20px 0 10px 0;
}
.form label {
  text-align: left;
}
@media screen and (max-width: 652px) {
  .form textarea {
    width: 300px;
  }
}
@media screen and (max-width: 374px) {
  .form textarea {
    width: 250px;
  }
}
@media screen and (max-width: 329px) {
  .form textarea {
    width: 200px;
  }
}

