body {
  margin: 0;
  padding: 0;
}
#message {
  max-width: 360px;
  margin: 100px auto 16px;
  padding: 32px 24px 24px;
  border-radius: 10px;
}
#message h2 {
  font-weight: bold;
  font-size: 28px;
  margin: 0 0 8px;
}
#message h1 {
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 16px;
}
#message p {
  line-height: 140%;
  margin: 16px 0;
  font-size: 14px;
}
#message #route {
  font-style: italic;
}
#message .btn {
  margin-top: 5px;
}
