#projects {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#projects .projects-content {
  margin-bottom: 30px;
}
#projects .project-group {
  display: grid;
  place-items: center;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
}
