#projects {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
#projects h3 {
  font-size: 1.4em;
  margin: 0;
}
#projects p {
  font-size: 1.1em;
  margin: 0;
}

#projects .projects-content {
  margin-bottom: 30px;
}
#projects .projects-description {
  margin-bottom: 20px;
}
#projects .project-group {
  display: grid;
  place-items: center;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
}
