#projects .project-modal {
  margin: 20px;
}
.react-router-modal__modal-open {
  position: inherit;
}
.react-router-modal__container {
  transform: none;
}
.react-router-modal__modal {
  min-width: 50% !important;
  max-height: 80%;
  overflow-y: auto;
}

#projects .project-modal code {
  cursor: default;
  background-color: rgb(240, 240, 240)
}
#projects .project-modal h3 {
  margin-bottom: 15px;
}
#projects .project-modal p {
  margin: 1em 0;
}

@media screen and (max-width: 1010px) {
  .react-router-modal__modal {
    min-width: 65% !important;
  }
}
@media screen and (max-width: 767px) {
  .react-router-modal__modal {
    min-width: 75% !important;
  }
}
@media screen and (max-width: 455px) {
  .react-router-modal__modal {
    min-width: 82% !important;
  }
}
@media screen and (max-width: 375px) {
  .react-router-modal__modal {
    min-width: 87% !important;
  }
}
