#projects {
  padding: 10px 0;
  margin: 0 auto;
}
#projects .card,
#projects .card img {
  border-radius: 25px 25px 0 0;
}
#projects .card-box {
  width: 45%;
  margin: 20px;
  float: left;
}
#projects .card-box p {
  font-size: 1em;
}
#projects .card-reveal {
  padding: 20px 40px;
}
#projects .card-reveal ul {
  padding-left: 20px;
}
#projects .card-reveal li {
  list-style-type: circle;
  margin: 14px 0;
}
#projects .x-icon {
  margin-right: -20px;
}

@media screen and (max-width: 1145px) {
  #projects .card-box {
    width: 44%;
  }
  #projects .card {
    max-height: 350px;
  }
}
@media screen and (max-width: 800px) {
  #projects .card-box {
    display: inline-block;
    width: 95%;
    margin: 0 auto;
  }
  #projects .card {
    max-height: 400px;
  }
}
@media screen and (max-width: 652px) {
  #projects .card-box {
    width: 100%;
  }
  #projects .card {
    max-height: 360px;
  }
}
@media screen and (max-width: 376px) {
  #projects .card {
    max-height: 320px;
  }
}
