#underDevelopment {
  height: 100%;
}
#underDevelopment #notice {
  margin: 0 auto;
}
#notice h1 {
  font-size: 28px;
  margin: 0 0 20px 0;
}
#notice #logo {
  margin: 0;
}
#notice button {
  margin: 10px;
}
